<div class="racetrack" data-game-id="<%= @game.id %>">
    <div class="player one" data-player-name="<%= @player1.name %>">
        <div class="pos active">
        </div>
        <% 9.times do %>
            <div class="pos">
            </div>
        <% end %>
    </div>
    <div class="player two" data-player-name="<%= @player2.name %>">
        <div class="pos active">
        </div>
        <% 9.times do %>
            <div class="pos">
            </div>
        <% end %>
    </div>
</div>
