<div class="racetrack">
    <div class="player one">
        <div class="pos active">
        </div>
        <% 9.times do %>
            <div class="pos">
            </div>
        <% end %>
    </div>
    <div class="player two">
        <div class="pos active">
        </div>
        <% 9.times do %>
            <div class="pos">
            </div>
        <% end %>
    </div>
</div>
